{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="container shadow-lg my-3 border border-1 border-dark-subtle pt-5 px-5 pb-5" style="background-color: #f4f4f4">
            <h1 class="text-center fw-bold text-dark-emphasis">Add New Phone</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}